<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Codeforces Crawler</title>
</head>
<body>
Welcome to Codeforces Crawler   
<%- include ("base.ejs") %>
<% if(u) { %>
    <!-- <%-u.username%>
    <form method = "POST" action="/home">
        <input type="text" name="user" placeholder="Enter Username " required >
        <button type="submit" >Search</button>
    </form> -->
<%} else { %>
    <a href="/register">New User?</a>
<%}%>
</body>
</html>